<!-- employees.hbs -->
<main>
    <h2>Employees</h2>
    <div>
        <table id="employeesTable">

            <thead>
            <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {{#each data}}
            <tr data-value={{this.employeeID}}>
                <td>{{this.employeeID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.position}}</td>
                <td>{{this.hireDate}}</td>  
                <td>{{this.salary}}</td>
                <td>{{this.habitatID}}</td>
                <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>
            </tr>
            {{/each}}
            </tbody>

        </table>
        <script src="./js/deleteEmployee.js"></script>
    </div>
    <hr>

    <div id="update">
        <form id="updateEmployeeForm">
            <legend>Update the information for an Employee</legend>
            <fieldset>

            <label for="selectEmployeeID">ID:</label>
            <select id="selectEmployeeID" name="selectEmployeeID" title="Employee ID" required>
                <option value=""></option>
                {{#each data}}
                <option value="{{this.employeeID}}">{{this.employeeID}}</option>
                {{/each}}
            </select>

            <label for="updateFirstName">First Name:</label>
            <input type="text" id="updateFirstName" name="firstName" title="First Name" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">
        
            <label for="updateLastName">Last Name:</label>
            <input type="text" id="updateLastName" name="lastName" title="Last Name" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">
        
            <label for="updatePosition">Position:</label>
            <input type="text" id="updatePosition" name="position" title="Position" required pattern="[A-Za-z ]+">

            <label for="updateHireDate">Hire Date:</label>
            <input type="date" id="updateHireDate" name="hireDate" title="Hire Date" required min="1900-01-01" max="2030-12-31">
        
            <label for="updateSalary">Salary:</label>
            <input type="number" step="any" id="updateSalary" name="salary" title="Salary" required min="0" max="999999">
        
            <label for="updateHabitatID">Habitat ID:</label>
            <select id="updateHabitatID" name="habitatID" title="Habitat ID" required>
                <option value=""></option>
                {{#each habitats}}
                <option value="{{this.habitatID}}">{{this.habitatID}}</option>
                {{/each}}
            </select>
            
            </fieldset>
            <input type="submit" value="Submit">
            <input type="reset" value="Cancel">
            
            <hr>
        </form>
    </div>

    <div id="create">
        <form id="createEmployeeForm">

            <legend>Add a new Employee</legend>
            <fieldset>

            <label for="createFirstName">First Name:</label>
            <input type="text" id="createFirstName" name="firstName" title="First Name" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">
        
            <label for="createLastName">Last Name:</label>
            <input type="text" id="createLastName" name="lastName" title="Last Name" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">
        
            <label for="createPosition">Position:</label>
            <input type="text" id="createPosition" name="position" title="Position" required pattern="[A-Za-z ]+">
        
            <label for="createHireDate">Hire Date:</label>
            <input type="date" id="createHireDate" name="hireDate" title="Hire Date" required min="1900-01-01" max="2030-12-31">
        
            <label for="createSalary">Salary:</label>
            <input type="number" step="any" id="createSalary" name="salary" title="Salary" required min="0" max="999999">
        
            <label for="createHabitatID">Habitat ID:</label>
            <select id="createHabitatID" name="habitatID" title="Habitat ID" required>
                <option value=""></option>
                {{#each habitats}}
                <option value="{{this.habitatID}}">{{this.habitatID}}</option>
                {{/each}}
            </select>
            
            </fieldset>
            <input type="submit" value="Submit">
            <input type="reset" value="Cancel">
        </form>
    </div>
</main>

<script src="./js/createEmployee.js"></script>
<script src="./js/updateEmployee.js"></script>
