<!-- penguins.hbs -->
<main>
    <h2>Penguins</h2>
    <div>
        <table id="penguinsTable">

            <thead>
            <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {{#each data}}
            <tr data-value={{this.penguinID}}>
                <td>{{this.penguinID}}</td>
                <td>{{this.name}}</td>
                <td>{{this.dateOfBirth}}</td>
                <td>{{this.sex}}</td>
                <td>{{this.species}}</td>
                <td>{{this.habitatID}}</td>
                <td><button onclick="deletePenguin({{this.penguinID}})">Delete</button></td>
            </tr>
            {{/each}}
            </tbody>

        </table>
        <script src="./js/deletePenguin.js"></script>
    </div>
    <hr>
    <div id="update">
        <form id="updatePenguin">
            <legend>Edit Penguin</legend>
            <fieldset>

            <label for="selectPenguinID">ID:</label>
            <select id="selectPenguinID" name="selectPenguinID" title="Penguin ID">
                <option value="Select"></option>
                {{#each data}}
                <option value="{{this.penguinID}}">{{this.penguinID}}</option>
                {{/each}}
            </select>
            
            <label for="updateName">Name:</label>
            <input type="text" id="updateName" name="name" title="Name" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">
        
            <label for="updatedateOfBirth">Birth Date:</label>
            <input type="date" id="updatedateOfBirth" name="dateOfBirth" title="dateOfBirth" required min="1900-01-01" max="2030-12-31">
        
            <label for="updateSex">Sex:</label>
            <select id="updateSex" name="sex" title="Sex" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        
            <label for="updateSpecies">Species:</label>
            <input type="text" id="updateSpecies" name="species" title="Species" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">

            <label for="updateHabitatID">Habitat ID:</label>
            <select id="updateHabitatID" name="updateHabitatID" title="Habitat ID">
                <option value="Select"></option>
                {{#each habitats}}
                <option value="{{this.habitatID}}">{{this.habitatID}}</option>
                {{/each}}
            </select>

            {{!-- 
            <hr>
            <div>
                <label for="shows">Shows:</label>
                    <input type="checkbox" id="updateShow1" name="employees" value="Show 1">
                    <label for="updateShow1">Show 1</label>

                    <input type="checkbox" id="updateShow2" name="employees" value="Show 2">
                    <label for="updateShow2">Show 2</label>

                    <input type="checkbox" id="updateShow3" name="employees" value="Show 3">
                    <label for="updateShow3">Show 3</label>
            </div> --}}

            </fieldset>
            <input type="submit" value="Submit">
            <input type="submit" value="Cancel">
            <hr>
        </form>
        <script src="./js/updatePenguin.js"></script>
    </div>

    <div id="create"></div>
        <form id="createPenguinForm">
            <legend>Add Penguin</legend>
            <fieldset>

            <label for="createName">Name:</label>
            <input type="text" id="createName" name="name" title="Name" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">
        
            <label for="createdateOfBirth">Birth Date:</label>
            <input type="date" id="createdateOfBirth" name="dateOfBirth" title="dateOfBirth" required min="1923-01-01" max="2005-12-31">
        
            <label for="createSex">Sex:</label>
            <select id="createSex" name="sex" title="Sex" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        
            <label for="createSpecies">Species:</label>
            <input type="text" id="createSpecies" name="species" title="Species" required pattern="[A-Za-z]+(?: [A-Za-z]+)*">
        
            <label for="createHabitatID">Habitat ID:</label>
            <select id="createHabitatID" name="createHabitatID" title="Habitat ID">
                <option value="Select"></option>
                {{#each habitats}}
                <option value="{{this.habitatID}}">{{this.habitatID}}</option>
                {{/each}}
            </select>
            {{!--<hr>
            <div>
                <label for="shows">Shows:</label>
                    <input type="checkbox" id="createShow1" name="employees" value="Show 1">
                    <label for="createShow1">Show 1</label>

                    <input type="checkbox" id="createShow2" name="employees" value="Show 2">
                    <label for="createShow2">Show 2</label>
                    
                    <input type="checkbox" id="createShow3" name="employees" value="Show 3">
                    <label for="createShow3">Show 3</label>
            </div> --}}

            </fieldset>
            <input type="submit" value="Submit">
            <input type="submit" value="Cancel">
        </form>

        <script src="./js/createPenguin.js"></script>
    </div>
</main>