<!-- shows.hbs -->
<main>
    <h2>Shows</h2>
    <div>
        <table id="showsTable">

            <thead>
            <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th></th>
            </tr>
            </thead>

            <tbody>
            {{#each data}}
            <tr data-value={{this.showID}}>
                <td>{{this.showID}}</td>
                <td>{{this.showName}}</td>
                <td>{{this.date}}</td>
                <td>{{this.startTime}}</td>
                <td>{{this.endTime}}</td>
                <td>{{this.ticketPrice}}</td>
                <td>{{this.habitatID}}</td>
                <td>{{this.employeeNames}}</td>
                <td>{{this.penguinNames}}</td>
                <td><button onclick="deleteShow({{this.showID}});">Delete</button></td>
            </tr>
            {{/each}}
            </tbody>

        </table>
    </div>
    <hr>
    <div id="update">
        <form method="POST" id="updateShow">
            <legend>Edit Show</legend>
            <fieldset>

            <label for="selectShowID">ID:</label>
            <select id="selectShowID" name="selectShowID" title="Show ID">
                {{#each data}}
                <option value="{{this.showID}}">{{this.showID}}</option>
                {{/each}}
            </select>

            <label for="updateShowName">Show Name:</label>
            <input name="updateShowName" type="text" id="updateShowName" name="showName" title="Show Name">
    
            <label for="updateDate">Date:</label>
            <input type="date" id="updateDate" name="date" title="Date">
    
            <label for="updateStartTime">Start Time:</label>
            <input type="time" id="updateStartTime" name="startTime" title="Start Time">
    
            <label for="updateEndTime">End Time:</label>
            <input type="time" id="updateEndTime" name="endTime" title="End Time">
    
            <label for="updateTicketPrice">Ticket Price:</label>
            <input type="number" step="0.05" id="updateTicketPrice" name="ticketPrice" title="Ticket Price" style="width:50px;" min=0 max="99">
    
            <label for="updateHabitatID">Habitat:</label>
            <select id="updateHabitatID" name="updateHabitatID" title="Habitat">
                {{#each habitats}}
                <option value="{{this.habitatID}}">{{this.habitatID}}</option>
                {{/each}}
            </select>
            <hr>
            <div>
                <label for="updatePenguinID">Penguins:</label>
                    {{#each penguins}}
                    <input type="checkbox" id="updatePenguinID" name="updatePenguinID" value="{{this.penguinID}}">
                    <label for="updatePenguinID">{{this.name}}</label>
                    {{/each}}
            </div>
            <div>
                <label for="updateEmployeeID">Employees:</label>
                    {{#each employees}}
                    <input type="checkbox" id="updateEmployeeID" name="updateEmployeeID" value="{{this.employeeID}}">
                    <label for="updateEmployeeID">{{this.lastName}}</label>
                    {{/each}}
            </div>
            
            </fieldset>
    
            <input type="submit" value="Submit">
            <input type="submit" value="Cancel">
        </form>
    </div>

    <hr>

    <div id="create"></div>
        <form id="createShowForm">
            <legend>Add Show</legend>
            <fieldset>

            <label for="createshowName">Show Name:</label>
            <input type="text" id="createShowName" name="showName" title="Show Name">
    
            <label for="createdate">Date:</label>
            <input type="date" id="createdate" name="date" title="Date">
    
            <label for="createstartTime">Start Time:</label>
            <input type="time" id="createstartTime" name="createstartTime" title="Start Time">
    
            <label for="createendTime">End Time:</label>
            <input type="time" id="createendTime" name="createendTime" title="End Time">
    
            <label for="createticketPrice">Ticket Price:</label>
            <input type="number" step="0.05" id="createticketPrice" name="createticketPrice" title="Ticket Price" style="width:50px;" min=0 max="99">
    
            <label for="createhabitatID">Habitat:</label>
            <select id="createhabitatID" name="createhabitatID" title="Habitat">
                {{#each habitats}}
                <option value="{{this.habitatID}}">{{this.habitatID}}</option>
                {{/each}}
            </select>
            <hr>
            <div>
                <label for="penguins">Penguins:</label>
                    {{#each penguins}}
                    <input type="checkbox" id="createPenguinID" name="createPenguinID" value="{{this.penguinID}}">
                    <label for="createPenguinID">{{this.name}}</label>
                    {{/each}}
            </div>
            <div>
                <label for="employees">Employees:</label>
                    {{#each employees}}
                    <input type="checkbox" id="createEmployeeID" name="createEmployeeID" value="{{this.employeeID}}">
                    <label for="createEmployeeID">{{this.lastName}}</label>
                    {{/each}}
            </div>
            </fieldset>
            <input type="submit" value="Submit">
            <input type="submit" value="Cancel">
        </form>
        
        <script src="./js/createShow.js"></script>
        <script src="./js/deleteShow.js"></script>
        <script src="./js/updateShow.js"></script>

    </div>
</main>
